SECRET_KEY=put_your_secret_key_here
DEBUG=False
#email settings for password reset functionality (optional)
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_password_here
DEFAULT_FROM_EMAIL='CBI ANALYTICS <your_email@gmail.com>'

