@import "tailwindcss";

@plugin "tailwindcss-animate";


.custom-cursor {
  cursor: url('./assets/smallmaqui.png'), auto;
}

table tr {
  border-bottom: 2px solid var(--color-indigo-100);
  background: var(--color-slate-50)
}

table th {
  padding: 5px;
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
 
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-violet-300 border-[1px] border-transparent border-solid bg-clip-padding;
}

