@import "tailwindcss";

.App {
    text-align: justify;
    text-align-last: left;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

.App {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.node-container {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.selected-tag-info {
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 4px;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: #e3f2fd; 
  font-weight: bold; 
}

.demo-instructions {
  margin-bottom: 20px;
  padding: 10px;
}

.react-arborist-node {
  margin-left: 20px;  
}

.node-container:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.react-arborist-expand-icon {
  color: #1890ff;
}


.node-container {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: left;
  transition: background-color 0.2s ease;
}

.node-container.selected {
  background-color: #e3f2fd; 
  font-weight: bold; 
}

Node content styling
.node-content {
  display: flex;
  align-items: center;
}

.node-text {
  margin-left: 8px;
}

.node-content svg {
  margin-right: 8px;
}
